/*
 * Bootstrap
 *
*/

// Needed
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";


// Custom settings
$grid-columns:      12;
$grid-gutter-width: 64px;

// Needed
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/flex";

// My Own Styling
@import "abstracts/index";


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url(../_static/images/Wavey-Fingerprint.svg) repeat center center;
}

/*
 * Post test
 * You have to seperate it based on ABEM / 7-1 SASS
 *
*/
.post {
  &__picture {
    display: block;
    overflow: hidden;
    height: 312px;

    & > img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}